<div style="margin-left: auto; margin-right: auto; padding-top: 20px; width: 60%; display: flex;">
  <div class="row" style="width: 100%;">
    <div class="sorting-fields col-lg" style="display: flex; align-items: center; flex-grow: 1;">
      <h5 style="margin-bottom: 0;">Sortuj po</h5>
      <div class="dropdown" style="margin-left: 10px;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="sortingDropdownBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ sortingType === 'name' ? 'Nazwie' : sortingType === 'price' ? 'Cenie' : sortingType === 'serviceTime' ? 'Czasie usługi' : '' }}
        </button>
        <div class="dropdown-menu" aria-labelledby="sortingDropdownBtn">
          <a class="dropdown-item" href="#" (click)="onSortingChanged('name')">Nazwie</a>
          <a class="dropdown-item" href="#" (click)="onSortingChanged('price')">Cenie</a>
          <a class="dropdown-item" href="#" (click)="onSortingChanged('serviceTime')">Czasie usługi</a>
        </div>
      </div>
    </div>
    <div class="filtering-fields col-lg mt-3 mt-lg-0" style="display: flex; align-items: center; justify-self: flex-end;">
      <h5 class="mr-3" style="justify-self: flex-end;">Przedział cenowy</h5>
      <div class="filtering-price-inputs">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="filter-price-from">zł</span>
          </div>
          <input #fromPrice type="number" class="form-control" placeholder="Od" aria-label="Username" aria-describedby="filter-price-from">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="filter-price-to">zł</span>
          </div>
          <input #toPrice type="number" class="form-control" placeholder="Do" aria-label="Username" aria-describedby="filter-price-to">
        </div>
      </div>
      <button type="button" class="btn btn-primary ml-3" (click)="onFilterClicked(fromPrice, toPrice)">Filtruj</button>
    </div>
  </div>
</div>

<ul class="list-group" style="width: fit-content; max-width: 60%; margin-left: auto; margin-right: auto; padding-top: 20px;">
  <li *ngFor="let item of data" class="list-group-item">
    <div class="media">
      <img [src]="item.imageUrl" width="256px" height="auto" class="mr-3" alt="service-img" style="border-radius: 5px;">
      <div class="media-body">
        <div class="mt-0" style="display: flex; justify-content: space-between;">
          <h5 style="font-weight: bold;">{{ item.name }}</h5>
          <div style="display: flex">
            <div *ngIf="userRoles?.includes('admin')" style="display: flex; justify-content: space-between;">
              <button type="button" class="btn btn-secondary edit-btn" (click)="onEdit(item)">
                <i class="fas fa-edit"></i>
              </button>
              <button type="button" class="btn btn-danger edit-btn" (click)="onDelete(item)">
                <i class="fas fa-trash"></i>
              </button>
              <button type="button" class="btn btn-success edit-btn" (click)="onShowTerms(item)">
                <i class="fas fa-search"></i>
              </button>
              <button type="button" class="btn btn-warning edit-btn" (click)="onOrder(item)">
                <i class="fas fa-shopping-cart"></i>
              </button>
            </div>
            <div *ngIf="userRoles?.includes('worker')" style="display: flex; justify-content: space-between;">
              <button type="button" class="btn btn-success edit-btn" (click)="onShowTerms(item)">
                <i class="fas fa-search"></i>
              </button>
              <button type="button" class="btn btn-warning edit-btn" (click)="onOrder(item)">
                <i class="fas fa-shopping-cart"></i>
              </button>
            </div>
            <div *ngIf="userRoles == null" style="display: flex; justify-content: space-between;">
              <button type="button" class="btn btn-warning edit-btn" (click)="onOrder(item)">
                <i class="fas fa-shopping-cart"></i>
              </button>
            </div>
          </div>
        </div>
        <p style="margin-bottom: 0.5rem;">{{ item.description }}</p>
        <div class="item-duration" style="display: flex; align-items: center; margin-bottom: 0.5rem;">
          <i class="fas fa-clock" style="color: darkgrey"></i>
          <p style="margin-bottom: 0; margin-left: 10px;">{{ item.duration + ' min' }}</p>
        </div>
        <span class="item-price">{{ item.cost | currency:'PLN' }}</span>
      </div>
    </div>
  </li>
</ul>
